* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent {
  width: 400px;
  height: 250px;
  background: url("../images/01.jpg") no-repeat center center;
  background-size: cover;
  margin: 250px auto;
  position: relative;
}

.right {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 5px;
  height: 0;
  background-color: black;
  transition: 1s;
}

.parent:hover .right {
  height: 80%;
}

.left {
  position: absolute;
  top: 10%;
  left: 90%;
  width: 5px;
  height: 0;
  background-color: black;
  transition: 1s;
}

.parent:hover .left {
  height: 80%;
}

.top {
  position: absolute;
  top: 15%;
  left: 5%;
  width: 0%;
  height: 5px;
  background-color: black;
  transition: 1s;
}

.parent:hover .top {
  width: 90%;
}

.bottom {
  position: absolute;
  /* top: 85%; */
  bottom: 15%;
  left: 5%;
  width: 0%;
  height: 5px;
  background-color: black;
  transition: 1s;
}

.parent:hover .bottom {
  width: 90%;
}

.box-center {
  width: 80%;
  height: 70%;
  /* transform: translate(15%, 20%); */
  background: transparent;
  position: absolute;
  top: 15%;
  left: 10%;
}

.parent:hover .box-center {
  background: rgba(128, 128, 128, 0.6);
}

.top-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 25px;
  text-transform: uppercase;
  font-family: sans-serif;
  transition: 1s;
}

.parent:hover .top-text {
  top: 35%;
  color: white;
}

.bottom-text {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 25px;
  text-transform: uppercase;
  font-family: sans-serif;
  transition: 1s;
}

.parent:hover .bottom-text {
  top: 60%;
  color: skyblue;
}
